body {
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ffffff;
  background-color: #1F1E1E;
  font-weight: 300;
}
html {
  width: 100%;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  letter-spacing: 0.7px;
}
p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.5;
}
ul {
  font-size: 18px;
}

.page-scroll {
  font-size: 15px;
}
@media (min-width: 767px) {
  p {
    margin: 0 0 35px;
    font-size: 20px;
    line-height: 1.6;
  }
  ul {
    font-size: 20px;
  }
}
a {
  color: #28c3ab;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #176e61;
}
.light {
  font-weight: 400;
}
.navbar {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #000000;
}
.navbar-brand {
  font-weight: 700;
}
.navbar-brand:focus {
  outline: none;
}
.navbar-custom a {
  color: #ffffff;
}
.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
}
.navbar-toggle {
  padding: 4px 6px;
  font-size: 16px;
  color: #ffffff;
}
.navbar-toggle:focus,
.navbar-toggle:active {
  outline: none;
}
.navbar-nav > li > a,
.navbar-brand {
  line-height: 40px;
}
@media (min-width: 767px) {
  .navbar {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    text-shadow: 0px 2px 5px #000;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .top-nav-collapse {
    padding: 0;
    background-color: #000000;
  }
  .navbar-custom.top-nav-collapse {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  .content-section h2 {
    font-size: 30px;
  }
}
.intro {
  display: table;
  width: 100%;
  height: 100%;
  padding: 100px 0;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 2px 5px #000;
  background: url(./img/intro.jpg) no-repeat top center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-color: #000000;
}
.conference-logo {
  margin: 15px;
}
#about {
  background:#353535;
  color: #d5d5d5;
  border-top: 50px solid #222;
}
#committees {
  background: #003F7E;
  border-top: 50px solid #00254b;
}
#speakers {
  background: #D52F62;
  border-top: 50px solid #B51A49;
}

#registration {
  background: #D8D8D8;
  color:#444;
  border-top: 50px solid #CBCBCB;
}

#contact-2 {
  background: #000000;
  width: 100%;
  padding: 50px 0;
  color: #ffffff;
  /*background: url(../img/contact.jpg) no-repeat center center scroll;*/
  background-color: #000000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  border-top: 50px solid #000000;
}
#programme {
  background: Tomato;
  color: #ffffff;
  border-top: 50px solid #E65A41;
}
#footer p {
  font-size: 14px !important;
}
#submission {
  background: #28c3ab;
  color: #ffffff;
  border-top: 50px solid #176e61;
}
#submission a {
  color: Tomato;
}
.intro-body {
  display: table-cell;
  vertical-align: middle;
}
.intro-date {
  font-weight: 100;
  font-size: 40px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.brand-heading {
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}
.intro-text {
  font-size: 18px;
}
.content-section h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 48px;
}
@media (min-width: 767px) {
  .conference-logo {
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
  .intro {
    height: 100%;
    padding: 0;
  }
  .brand-heading {
    font-size: 80px;
  }
  .intro-text {
    font-size: 25px;
  }
}
.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid #ffffff;
  border-radius: 35px;
  font-size: 40px;
  color: #ffffff;
  background: transparent;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.btn-circle:hover,
.btn-circle:focus {
  outline: none;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.1);
}
.page-scroll .btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}
.page-scroll .btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}
@-webkit-keyframes pulse {
  0 {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0 {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.main-list li {
  padding-left: 0;
  padding-right: 35px;
}
.content-section {
  padding-top: 50px;
  padding-bottom: 100px;
}
.oii-brand {
  max-width: 350px;
}
.sponsors {
  padding: 15px;
  padding-bottom: 40px;
}
.sponsor-image {
  /*padding: 5px;*/
  padding-bottom:10px;
}
.btn {
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn-default {
  border: 1px solid #28c3ab;
  color: #28c3ab;
  background-color: transparent;
}
.btn-default:hover,
.btn-default:focus {
  border: 1px solid #28c3ab;
  outline: none;
  color: #000000;
  background-color: #28c3ab;
}
.btn-huge {
  padding: 25px;
  font-size: 26px;
}
.banner-social-buttons {
  margin-top: 0;
}
@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
  ul.banner-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons > li:last-child {
    margin-bottom: 0;
  }
}
::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}
::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}
